/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
div#footer-socialShare {
    display: flex;
    justify-content: start;

    a {
        max-width: 100%;
        width: 44px;
        height: auto;
        margin-right: 10px;
    }
}
site-footer.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 767px) {
    div#footer-socialShare {
        justify-content: center;
    }
}