/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
div#footer-socialShare {
    display: flex;
    justify-content: center;

    a {
        max-width: 100%;
        width: 44px;
        height: auto;
    }
}
site-footer.container-fluid {
    padding-left: 0;
    padding-right: 0;
}