
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}


#nf-field-9 {
	width: 190px;
}
#nf-field-9.ninja-forms-field:hover {
	min-width: auto !important;
	max-width: 190px;
}

.ninja-forms-field {
	height: 64px !important;
	padding: 0px 25px !important;
}


/* -------------------------------
## MAIN CONTACT FORM
----------------------- */

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #ff783b !important;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #ff783b !important;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #ff783b !important;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #ff783b !important;
}

input.search-field::-webkit-input-placeholder {
	color: #6a6a6a !important;
}
input.search-field::-moz-placeholder {
	color: #6a6a6a !important;
}
input.search-field:-ms-input-placeholder {
	color: #6a6a6a !important;
}
#nf-form-title-2 h3 {
	color: #fff !important;
	font-size: 55px;
	font-weight: 900;
	line-height: 1.1;
	text-transform: uppercase;
	width: 100%;
	margin: auto;
	margin-bottom: 0;
	padding-bottom: 25px;
	max-width: 100%;
	width: 350px;
	text-align: center;
}




.ninja-forms-field {
	border: solid 3px #fff !important;
	background: transparent;
	background-color: transparent;
	color: #fff !important;
	font-weight: bold !important;
}

#nf-field-9 {
	width: 100%;
	border-width: 3px;

	&:hover {
		width: 100%;
	}
}

#nf-field-9.ninja-forms-field:hover {
	max-width: 100% !important;
	width: 100% !important;
}