.progress-container {
	position: fixed;
	top: 101px;
	height: 10px;
	left: 0;
	right: 0;
	z-index: 9999;
}

.progress-bar {
	height: 10px;
	background: #39bfc3;
	z-index: 999;
	width: 0%;
}

.margin-header {
	margin-top: 110px;
}
.blog-post-container {
	height: 500px;
}

.blog-tabs a {
	float: left;
	padding: 10px;
	margin-right: 10px;
	text-align: center;
	color: #646464;
	transition: .3s;
	text-decoration: none;
}

.blog-tabs a:hover {
	color: #39bfc3;
}
.pt-0 {
	padding-top:0px;
}
.blog-tabs span {
	float: left;
	font-weight: bold;
	padding: 10px 10px 10px 0px;
}

.search-form .search-submit {
	width: 28px;
	float: left;
	padding-right: 5px;
	position: relative;
	top: 5px;
}

.search-form .search-field {
	box-shadow: none;
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 0px;
	letter-spacing: 1px;
	width: calc(100% - 32px);
	border: 0px;
	border-bottom: solid 1px #000;
}

.blog-entry-meta {
	margin-top: 25px;
}

.wpb_gravatar {
	border-radius: 50%;
}

.img-fit {
	max-width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.end-of-post-categories-text {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}

.bg-ltgrey {
	background: #eee;
}

.post-img-box {
	height: 225px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.post-img-box img {
	position: absolute;
	left: -9999px;
	right: -9999px;
	top: -9999px;
	bottom: -9999px;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
}

.end-of-post-categories-separator {
	padding-top: 5px;
	border-bottom: solid 1px #c4c4c4;
	overflow: hidden;
	width:100%;
}

div.end-of-post-categories-text {
	white-space: nowrap;
	padding-right: 7px;
}

div.end-of-post-categories {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

@media(max-width: 768px) {
	.no-gutters-mobile {
		margin-left: 0px;
		margin-right: 0px;
	}
	.no-gutters-mobile>.col, .no-gutters-mobile>[class*=col-] {
		padding-left: 0px;
		padding-right: 0px;
	}
}



/* Blog Page */
.single-nav-title-text a {
	text-decoration:none;
}
.bg-black{background-color:#000;}
.blog-container {
  padding: 50px 0px;
  margin: 0px 20%;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 600px;
}

@media(max-width: 1800px) {
  .blog-container {
    margin: 0px 15%;
  }
}

@media(max-width: 1500px) {
  .blog-container {
    margin: 0px 7.5%;
  }
}
@media(min-width:1024px) {
	.blog-half:first-of-type {
		padding-right: 50px;
		min-width: 500px;
	}
}
.blog-row {
  display: flex;
  align-items: center;
	flex-wrap: wrap;
	width:100%;
}

.blog-half {
  flex: 1 1 0;
}

.blog-half:first-of-type {
  padding-right: 50px;
}

.blog-gravatar {
  float: left;
  margin-right: 15px;
  width: 90px;
}

.blog-entry-meta {
  display: flex;
  align-items: center;
}

.blog-entry-title {
  line-height: 1.1;
	margin-top: 0px;
	margin-bottom: .5em;
}

@media(max-width: 1024px) {
  .blog-half {
    flex: 0 0 100%;
  }

  div#comments {
    width: 80% !important;
    margin: 0 auto;
  }

  .blog-entry-meta {
    margin-bottom: 50px;
  }

  .blog-entry-title {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .blog-half:first-of-type {
    padding-right: 0px;
  }
}

