p.contact-form-title-1{
    text-align: center;
    font-size: 41px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto 1em;
}
p.contact-form-title-2 {
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto 1.2em;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff !important;
    font-weight:400;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff !important;
    font-weight:400;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff !important;
    font-weight:400;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff !important;
    font-weight:400;
}
.nf-form-content .nf-field-container #nf-field-6-wrap .nf-field-element select option {
    color: #000;
    font-weight:400;
}

.nf-before-form-content {display: none;}
.nf-response-msg { text-align: center; }
#nf-form-2-cont .nf-form-content {
    width: 585px;
    max-width: 100%;
    margin: auto;
}
#nf-form-3-cont ::-webkit-input-placeholder {
    color: #000 !important;
    opacity: .4;
}
#nf-form-3-cont .nf-form-content {
    width: 585px;
    max-width: 100%;
    margin: auto;
}

.nf-form-content .nf-field-container #nf-field-9-wrap .nf-field-element .ninja-forms-field {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #ffffff;
    color: #fff;
    width: 350px;
    max-width:100%;
    padding: 15px;
    margin: auto;
    min-width: 260px;
    transition: all .3s;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 18px 0px 18px;
}
.nf-form-content .nf-field-container #nf-field-9-wrap .nf-field-element .ninja-forms-field:hover {
    background-color: #fff;
    color: #39BFC3;
    width: 350px;

}
@media (max-width:600px){
    .nf-form-content .nf-field-container #nf-field-4-wrap .nf-field-element .ninja-forms-field{width:100% !important}
}